.compose {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;

    .compose-inner {
        position: relative;
        padding: 32px;
        width: 100%;
        max-width: 640px;
        border-radius: 15px;
        background-color: #FFF;
        border-left: 1.2px solid lightgrey;

        .user {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 15px;
    
            .userInfo{
                            
                display: flex;
               
    
                .info {
                    flex-direction: column;
                }
                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }
    
                .details{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
    
                    .name{
                        font-weight: 500
                    }
                    .date{
                        padding-left: 2em;
                        font-size: 12px;
                    }
    
                }
    
            }
        }
    
        .content{

            p {
                margin-left: 60px;
                padding-bottom: 3em;
            }

            span{
        
                font-size: 13px;
                color:rgb(76, 76, 76)
            }
    
            img{
                width: 100%;
                border-radius: 3%;
                max-height: 500px;
                object-fit: cover;
                margin-top: 20px;
            }
            
        }

        .top{
            // display: block;
            position: relative;
            .write{
                padding: 20px;
                padding-bottom: 6em;
                display: flex;
                justify-content: space-between;
                gap: 2px;
                margin: 20px 0px;
                
    
                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                
                input {
                    width: 100%;
                    padding: 10px;
                    border: none;
                    font-size: 25px;
                    box-sizing: border-box;
                    
                }
    
                
            }

            .imgSec{
                
                
                padding-bottom: 20px;
                
                .preview{
                    
                    width: 100%;
                    border-radius: 3%;
                    max-height: 500px;
                    object-fit: cover;
                    // margin-top: 20px;
                }
                
            }
        }

        

       

        .attachments{
            border-TOP: 1.2px solid lightgrey;
            padding: 15px;
            padding-left: 20px;
        }

        .send{

            position:absolute;
            bottom:12px;
            right:20px; 
            padding: 15px;
            border: none;
            border-radius: 25px;
            color: white;
            font-weight: bold;
            width: 15%;
            background-color: dodgerblue;
            
        }

    }

    .back{
        position: absolute;
        top: 16px;
        right: 16px;
    }

    
}

