.NavBar{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    height: 28px;
    border-bottom: 1px solid lightgrey;;
    .left{
        display: flex;
        gap: 30px;
        span{
            font-weight: bold;
            font-size: 30px;
        }

    }

    .right{

    }
}