.rightbar{
    flex: 5;
    .search{
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid lightgray;
        border-radius: 5px;
        padding: 5px;
        input {
            border: none;
            width: 500px;
        }
    }
}